* {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
nav li {
    color: lightgray;
}
.hero-poster {
    background: url(https://i.ibb.co/Ws2FGSG/photo-1423592707957-3b212afa6733-jfif.jpg);
    background-size: cover;
    height: 70vh;
}
.hero {
    margin-top: 12vh;
}
.card-deck {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.deck {
    color: white;
    border-radius: 16px;
}
.tab-view {
    display: none;
}
.mob-view {
    display: none;
}

@media (max-width: 1000px) {
    .lap-view {
        display: none;
    }
    .tab-view {
        display: contents;
    }
}

@media (max-width: 600px) {
    .lap-view {
        display: none;
    }
    .mob-view {
        display: contents;
    }
    .hero {
        margin-top: 8vh;
    }
    .tab-view {
        display: none;
    }
}
